{% extends "mail/layout.html" %}

{% block body %}
<div class="login">
    <img src="..\static\mail\logo.png" class="login-image">
    <h2 class="login-title">Login</h2>
    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}


    <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-information">
            <label for="email">E-mail</label>
            <input autofocus class="input-login" type="email" name="email" placeholder="Email" id="email">
        </div>
        <div class="form-information">
            <label class="label-login" for="password">Password</label>
            <input autofocus class="input-login" type="password" name="password" placeholder="Password" id="password">
        </div>
        <input class="btnp" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    <p>The image above was created with DALL E</p>

</div>
{% endblock %}